In [185]:
import pandas as pd

In [186]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/ECE.xlsx")
main_df_19_ece=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[1:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sc_index)
SEMS=["V","VI","VII","VII","VIII","VIII","VIII"]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="ECE"
    new_df_temp["Sem"]=SEMS[i]
    new_df_temp["Year"]="19"
    main_df_19_ece=pd.concat([main_df_19_ece,new_df_temp],ignore_index=True,axis=0)

main_df_19_ece.shape

[2, 5, 8, 11, 15, 18, 21]

(1211, 7)

In [187]:
main_df_19_ece.head(2)

,Reg Id,Name,SUB CODE,SUB NAME,Dept,Sem,Year
0,L18AEC533,SAPPOGU SANDEEPU KUMAR,18ECD11,Computer Organization & Architecture,ECE,V,19
1,L20AEC581,AKURATHI ANITHA,18ECD12,Data Communication and Computer Networks,ECE,V,19

In [188]:
civil_df_VIII=pd.read_excel("N:/temp_ass/Data/Data/Y19/CIVIL 1.xlsx",sheet_name="VIII")
civil_df_VIII=civil_df_VIII.iloc[3:,1:]
civil_df_VIII.rename(columns={"Unnamed: 1":"Reg Id","Unnamed: 2":"Name","Unnamed: 3":"SUB NAME"},inplace=True)
civil_df_VIII.reset_index(drop=True,inplace=True)
civil_df_VIII["Sem"]="VIII"

civil_df_VII=pd.read_excel("N:/temp_ass/Data/Data/Y19/CIVIL 1.xlsx",sheet_name="VII", header=None)
civil_df_VII=civil_df_VII[[2,3,5]]
civil_df_VII.columns=["Reg Id","Name","SUB NAME"]
civil_df_VII.reset_index(drop=True,inplace=True)
civil_df_VII["Sem"]="VII"

civil_df_VI=civil_df_VII.copy()
civil_df_VI["Sem"]="VI"
civil_df_VI_CLONE=civil_df_VI
civil_df_VI["SUB NAME"]="Advanced Structural Analysis"
civil_df_VI["SUB CODE"]="18CED11"

civil_df_VI_CLONE["SUB NAME"]="Advanced Design Of Structures"
civil_df_VI_CLONE["SUB CODE"]="18CED21"



civil_VI_combined=pd.concat([civil_df_VI,civil_df_VI_CLONE],axis=0)

main_df_19_civil=pd.concat([civil_VI_combined,civil_df_VII,civil_df_VIII],axis=0)
main_df_19_civil["Dept"]="CIVIL"
main_df_19_civil["Year"]="19"

In [189]:
main_df_19_civil.head(2)

,Reg Id,Name,SUB NAME,Sem,SUB CODE,Dept,Year
0,L20ACE454,ANCHA KRISHNA MURTHI,Advanced Design Of Structures,VI,18CED21,CIVIL,19
1,L20ACE456,BADAM SURENDRA,Advanced Design Of Structures,VI,18CED21,CIVIL,19

In [190]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/EIE.xlsx",sheet_name="EIE")
main_df_19_eie=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[1:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sc_index)
SEMS=["V","VI","VII","VII","VII","VIII","VIII","VIII"]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="EIE"
    new_df_temp["Sem"]=SEMS[i]
    new_df_temp["Year"]="19"
    main_df_19_eie=pd.concat([main_df_19_eie,new_df_temp],ignore_index=True,axis=0)

main_df_19_eie.shape

[2, 6, 10, 14, 18, 22, 26, 30]

(128, 7)

In [191]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/IT.xlsx")
main_df_19_it=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[1:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sc_index)
SEMS=["V","VI","VI","VII","VII","VII","VIII","VIII"]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="IT"
    new_df_temp["Sem"]=SEMS[i]
    new_df_temp["Year"]="19"
    main_df_19_it=pd.concat([main_df_19_it,new_df_temp],ignore_index=True,axis=0)

main_df_19_it.shape

[2, 6, 10, 14, 18, 22, 26, 30]

(896, 7)

In [192]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/EEE.xlsx")
main_df_19_eee=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[1:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sc_index)
SEMS=["VI","VI","VII","VII","VII","VIII","VIII"]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="EEE"
    new_df_temp["Sem"]=SEMS[i]
    new_df_temp["Year"]="19"
    main_df_19_eee=pd.concat([main_df_19_eee,new_df_temp],ignore_index=True,axis=0)

main_df_19_eee.shape

[2, 4, 6, 8, 10, 12, 14]

(721, 7)

In [193]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/CSE.xlsx")
main_df_19_cse=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[1:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sc_index)
SEMS=["VI","VII","VII","VII","VIII","VIII","VIII"]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="EEE"
    new_df_temp["Sem"]=SEMS[i]
    new_df_temp["Year"]="19"
    main_df_19_cse=pd.concat([main_df_19_cse,new_df_temp],ignore_index=True,axis=0)

main_df_19_cse.shape

[2, 5, 9, 11, 13, 15, 17]

(1351, 7)

In [194]:
import os
import pandas as pd

sheet=pd.read_excel("N:/temp_ass/Data/Data/Y19/ME.xlsx")
u_s1=sheet
u_s1.columns = u_s1.iloc[0]
u_s1=u_s1.iloc[1:,:]
u_s1.reset_index(drop=True,inplace=True)

u_s1=u_s1[["Student Name (As Per SSC)","Regd. Number","Institution Elective-I ","Institution Elective-II ",
          "Department Elective-I","Department Elective-II ","Department Elective-III ","Department Elective-IV","Department Elective-V"]
        ]
u_s1.rename(columns={"Student Name (As Per SSC)":"Name","Regd. Number":"Reg Id","Institution Elective-I ":"SUB NAME","Institution Elective-II ":"SUB NAME","Department Elective-I":"SUB NAME","Department Elective-II ":"SUB NAME","Department Elective-III ":"SUB NAME","Department Elective-IV":"SUB NAME","Department Elective-V":"SUB NAME"},inplace=True)
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
print(temp_cols_sn_index)
main_df_19_me=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
for i in range(0,len(temp_cols_sn_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]="-"
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="ME"
    new_df_temp["Sem"]="-"
    new_df_temp["Year"]="19"
    main_df_19_me=pd.concat([main_df_19_me,new_df_temp],ignore_index=True,axis=0)

[2, 3, 4, 5, 6, 7, 8]

In [195]:
main_df_19_me.shape

(1015, 7)

In [196]:
main_df_19_ece.shape

(1211, 7)

In [197]:
main_df_19_civil.shape

(588, 7)

In [198]:
main_df_19_eie.shape

(128, 7)

In [199]:
main_df_19_it.shape

(896, 7)

In [200]:
main_df_19_eee.shape

(721, 7)

In [201]:
main_df_19_cse.shape

(1351, 7)

In [202]:
main_df_19_me.shape

(1015, 7)

In [208]:
main_df_19=pd.concat([main_df_19_ece,main_df_19_civil,main_df_19_eie,main_df_19_it,main_df_19_eee,main_df_19_cse,main_df_19_me],ignore_index=True,axis=0)

In [209]:
main_df_19.shape

(5910, 7)

In [210]:
main_df_19.to_excel("main_df_19.xlsx", index=False)